
<!-- just keep body tag in index.ejs -->
<!-- reference  boilerplate.ejs in layouts folder -->
<% layout('/layouts/boilerplate.ejs') %>
<body>
    <h2>All listings</h2>
    <!-- to get new places -->

    <!-- <form method="GET" action="/listingz/new">
        <button>Create New Listing</button>
      </form> -->
    

<!-- card part -->
<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">

  <% for(let l of allListings) { %>
  <a href="/listingz/<%= l._id %>" style="text-decoration: none;">
    <div class="card col">
      <img src="<%=l.image.url %>" class="card-img-top" alt="listing-image" style="height: 20rem;">
      <div class="card-img-overlay"></div>

        <div class="card-body">
          <p class="card-text">
            <span style="font-weight: 600;"><%=l.title %></span>
            <br>
            &#8377 <%=l.price.toLocaleString('en-IN') %> per night
          </p>
        </div>
    </div>
  </a>  
  <% } %>
</div>




